openapi: 3.0.3
info:
  title: OpenKIS
  description: 한국투자증권에서 제공하는 OpenAPI 정의
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: 강한구
    email: kgcrom@hotmail.com

servers:
  - url: "https://openapi.koreainvestment.com:9443"
    description: KIS Production server
  - url: "https://openapivts.koreainvestment.com:29443"
    description: KIS Sandbox server

tags:
  - name: Auth
    description: 인증
  - name: DomesticStockQuotations
    description: 국내주식 호가
  - name: EtfNEtnQuotations
    description: ETF/ETN 호가
  - name: DomesticStockIndex
    description: 국내주식 지수

security:
  - accessToken: []

paths:
  /oauth2/tokenP:
    post:
      $ref: resources/auth/auth_token.yml

  /oauth2/revokeP:
    post:
      $ref: resources/auth/auth_revoke.yml

  /uapi/domestic-stock/v1/quotations/inquire-price:
    get:
      operationId: getDomesticStockPrice

      summary: 국내주식 현재가 기본시세 조회

      description: |
        주식 현재가 시세 API입니다. 실시간 시세를 원하신다면 웹소켓 API를 활용하세요.

        ※ 종목코드 마스터파일 파이썬 정제코드는 한국투자증권 Github 참고 부탁드립니다.<br/>
          https://github.com/koreainvestment/open-trading-api/tree/main/stocks_info

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-ccnl:
    get:
      operationId: getDomesticStockConclusion

      summary: 국내주식 현재가 체결시세 조회

      description: 국내현재가 체결 API 입니다. 종목의 체결 정보를 확인할 수 있습니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-daily-price:
    get:
      operationId: getDomesticStockDailyPrice

      summary: 국내주식 일자별 시세 조회

      description: 주식현재가 일자별 API입니다. 일/주/월별 주가를 확인할 수 있으며 최근 30일(주,별)로 제한되어 있습니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn:
    get:
      operationId: getDomesticStockAskingPrice

      summary: 국내주식 현재가 호가/예상체결 조회

      description: |
        주식현재가 호가 예상체결 API입니다.

        매수 매도 호가를 확인하실 수 있습니다.<br/> 실시간 데이터를 원하신다면 웹소켓 API를 활용하세요.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-investor:
    get:
      operationId: getDomesticStockInvestor

      summary: 국내주식 현재가 투자자 조회

      description: |
        주식현재가 투자자 API입니다. 개인, 외국인, 기관 등 투자 정보를 확인할 수 있습니다.

        [유의사항]<br/>
        - 외국인은 외국인(외국인투자등록 고유번호가 있는 경우)+기타 외국인을 지칭합니다.<br/>
        - 당일 데이터는 장 종료 후 제공됩니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-member:
    get:
      operationId: getDomesticStockMember

      summary: 국내주식 현재가 회원사 조회

      description: 주식 현재가 회원사 API입니다. 회원사의 투자 정보를 확인할 수 있습니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice:
    get:
      operationId: getDomesticStockPeriodPrice

      summary: 국내주식 기간별 시세(일/주/월/년) 조회

      description: |
        국내주식기간별시세(일/주/월/년) API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-time-itemconclusion:
    get:
      operationId: getDomesticStockTimeConclusion

      summary: 국내주식 현재가 당일시간대별 체결 조회

      description: 주식현재가 당일시간대별체결 API입니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-time-overtimeconclusion:
    get:
      operationId: getDomesticStockOverTimeConclusion

      summary: 국내주식 현재가 시간외 시간대별 체결 조회

      description: 주식현재가 시간외시간별체결 API입니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice:
    get:
      operationId: getDomesticStockDailyOverTimePrice

      summary: 국내주식 현재가 시간외 일자별 주가 조회

      description: 주식현재가 시간외일자별주가 API입니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-overtime-price:
    get:
      operationId: getDomesticStockOverTimePrice

      summary: 국내주식 시간외 현재가 조회

      description: |
        국내주식 시간외현재가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 좌측 상단기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-overtime-asking-price:
    get:
      operationId: getDomesticStockOverTimeAskingPrice

      summary: 국내주식 시간외 호가 조회

      description: |
        국내주식 시간외호가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 '호가' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-time-itemchartprice:
    get:
      operationId: getDomesticStockMinutePrice

      summary: 국내주식 당일 분봉 조회

      description: |
        주식당일분봉조회 API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 30건까지 확인 가능합니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/inquire-price-2:
    get:
      operationId: getDomesticStockPrice2

      summary: 주식현재가 시세2 조회

      description: 주식현재가 시세2 API입니다.

      tags:
        - DomesticStockQuotations

  /uapi/domestic-stock/v1/quotations/exp-closing-price:
    get:
      operationId: getDomesticStockClosingPrice

      summary: 국내주식 장마감 예상체결가 조회

      description: |
        국내주식 장마감 예상체결가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0183] 장마감 예상체결가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockQuotations

  /uapi/etfetn/v1/quotations/inquire-price:
    get:
      operationId: getEtfNEtnPrice

      summary: ETF/ETN 현재가 기본시세 조회

      description: |
        ETF/ETN 현재가 API입니다.

        한국투자 HTS(eFriend Plus) > [0240] ETF/ETN 현재가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - EtfNEtnQuotations

  /uapi/etfetn/v1/quotations/nav-comparison-trend:
    get:
      operationId: getEtfNEtnNavStockTrend

      summary: ETF/ETN NAV 비교 추이(종목) 조회

      description: |
        NAV 비교추이(종목) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - EtfNEtnQuotations

  /uapi/etfetn/v1/quotations/nav-comparison-time-trend:
    get:
      operationId: getEtfNEtnNavMinuteTrend

      summary: ETF/ETN NAV 비교 추이(분) 조회

      description: |
        NAV 비교추이(분) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "분별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최근 30건까지 확인 가능합니다.

      tags:
        - EtfNEtnQuotations

  /uapi/etfetn/v1/quotations/nav-comparison-daily-trend:
    get:
      operationId: getEtfNEtnNavDailyTrend

      summary: ETF/ETN NAV 비교 추이(일) 조회

      description: |
        NAV 비교추이(일) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "일별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

      tags:
        - EtfNEtnQuotations

  /uapi/etfetn/v1/quotations/inquire-component-stock-price:
    get:
      operationId: getEtfNEtnComponentStockPrice

      summary: ETF/ETN 구성종목 시세 조회

      description: |
        ETF 구성종목시세 API입니다. 

        한국투자 HTS(eFriend Plus) > [0245] ETF/ETN 구성종목시세 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다

      tags:
        - EtfNEtnQuotations

  /uapi/domestic-stock/v1/quotations/inquire-daily-indexchartprice:
    get:
      operationId: getIndexDailyChartPrice

      summary: 국내주식 업종기간별 시세(일/주/월/년) 조회

      description: |
        국내주식 업종기간별시세(일/주/월/년) API입니다.

        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 50건까지 확인 가능합니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-time-indexchartprice:
    get:
      operationId: getIndexMinuteChartPrice

      summary: 국내주식 업종분봉 조회

      description: |
        국내주식 업종분봉조회 API입니다.

        실전계좌의 경우, 한 번의 호출에 최대 102건까지 확인 가능합니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-price:
    get:
      operationId: getIndexPrice

      summary: 국내업종 현재 지수 조회

      description: |
        국내업종 현재지수 API입니다.

        한국투자 HTS(eFriend Plus) > [0210] 업종 현재지수 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-daily-price:
    get:
      operationId: getIndexDailyPrice

      summary: 국내업종 일자별 지수 조회

      description: |
        국내업종 일자별지수 API입니다. 한 번의 조회에 100건까지 확인 가능합니다.

        한국투자 HTS(eFriend Plus) > [0212] 업종 일자별지수 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-category-price:
    get:
      operationid: getIndexCategoryPrice

      summary: 국내업종 구분별 전체 시세 조회

      description: |
        국내업종 구분별전체시세 API입니다.

        한국투자 HTS(eFriend Plus) > [0214] 업종 전체시세 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/exp-total-index:
    get:
      operationId: getIndexTotal

      summary: 국내주식 예상체결 전체지수 조회

      description: |
        국내주식 예상체결 전체지수 API입니다.

        한국투자 HTS(eFriend Plus) > [0185] 예상체결 전체지수 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-tickprice:
    get:
      operationId: getIndexTickPrice

      summary: 국내업종 시간별지수(초) 조회

      description: |
        국내업종 시간별지수(초) API입니다. 

        한국투자 HTS(eFriend Plus) > [0211] 업종 시간별지수 화면에서 우측 '10초' 선택 시의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-timeprice:
    get:
      operationId: getIndexMinutePrice

      summary: 국내업종 시간별지수(분) 조회

      description: |
        국내업종 시간별지수(분) API입니다. 

        한국투자 HTS(eFriend Plus) > [0211] 업종 시간별지수 화면에서 우측 '1분' 선택 시의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/exp-index-trend:
    get:
      operationId: getIndexTrend

      summary: 국내업종 예상체결지수 추이

      description: |
        국내주식 예상체결지수 추이 API입니다. 

        한국투자 HTS(eFriend Plus) > [0184] 예상체결지수 추이 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/domestic-stock/v1/quotations/chk-holiday:
    get:
      operationId: checkDomesticHoliday

      summary: 국내 휴장일 확인

      description: |
        국내휴장일조회 API입니다.

        영업일, 거래일, 개장일, 결제일 여부를 조회할 수 있습니다.<br/>
        주문을 넣을 수 있는지 확인하고자 하실 경우 개장일여부(opnd_yn)을 사용하시면 됩니다.

  /uapi/domestic-stock/v1/quotations/inquire-vi-status:
    get:
      operationId: checkViStatus

      summary: 국내주식 변동성완화장치(VI) 현황

      description: |
        HTS(eFriend Plus) [0139] 변동성 완화장치(VI) 현황 데이터를 확인할 수 있는 API입니다.

        최근 30건까지 확인 가능합니다.

  /uapi/domestic-stock/v1/quotations/comp-interest:
    get:
      operationId: getDomesticInterest

      summary: 금리종합(국내채권/금리)

      description: |
        금리 종합(국내채권/금리) API입니다.

        한국투자 HTS(eFriend Plus) > [0702] 금리 종합 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        ※ 11:30 이후에 신규데이터가 수신되는 점 참고하시기 바랍니다.

  /uapi/domestic-stock/v1/quotations/news-title:
    get:
      operationId: getNewsTitle

      summary: 종합 시황/공시(제목만)

      description: |
        종합 시황/공시(제목) API입니다. 

        한국투자 HTS(eFriend Plus) > [0601] 종합 시황/공시 화면의 "우측 상단 리스트" 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: authorization
