openapi: 3.0.3
info:
  title: OpenKIS
  description: 한국투자증권에서 제공하는 OpenAPI 정의
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: 강한구
    email: kgcrom@hotmail.com

servers:
  - url: "https://openapi.koreainvestment.com:9443"
    description: KIS Production server
  - url: "https://openapivts.koreainvestment.com:29443"
    description: KIS Sandbox server

tags:
  - name: Auth
    description: 인증
  - name: DomesticStockQuote
    description: 국내주식 호가
  - name: EtfNEtnQuote
    description: ETF/ETN 호가
  - name: DomesticStockIndex
    description: 국내주식 지수
  - name: DomesticStockFinancialStatement
    description: 국내주식 재무 정보
  - name: DomesticKsdInfo
    description: 국내주식 한국예탁결제원 정보
  - name: DomesticTechnicalAnalysis
    description: 국내주식 시세 분석
  - name: DomesticRanking
    description: 국내주식 순위

security:
  - accessToken: []

paths:
  /oauth2/tokenP:
    post:
      $ref: resources/auth/auth_token.yml

  /oauth2/revokeP:
    post:
      $ref: resources/auth/auth_revoke.yml

  /uapi/hashkey:
    post:
      $ref: resources/auth/hashkey.yml

  /uapi/domestic-stock/v1/quotations/inquire-price:
    get:
      $ref: resources/domestic_stock_quote/price.yml

  /uapi/domestic-stock/v1/quotations/inquire-ccnl:
    get:
      $ref: resources/domestic_stock_quote/conclusion.yml

  /uapi/domestic-stock/v1/quotations/inquire-daily-price:
    get:
      $ref: resources/domestic_stock_quote/daily_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn:
    get:
      $ref: resources/domestic_stock_quote/quote_and_exp.yml

  /uapi/domestic-stock/v1/quotations/inquire-investor:
    get:
      $ref: resources/domestic_stock_quote/inquire_investor.yml

  /uapi/domestic-stock/v1/quotations/inquire-member:
    get:
      $ref: resources/domestic_stock_quote/inquire_member.yml

  /uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice:
    get:
      $ref: resources/domestic_stock_quote/period_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-time-itemconclusion:
    get:
      $ref: resources/domestic_stock_quote/time_conclusion.yml

  /uapi/domestic-stock/v1/quotations/inquire-time-overtimeconclusion:
    get:
      $ref: resources/domestic_stock_quote/overtime_conclusion.yml

  /uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice:
    get:
      $ref: resources/domestic_stock_quote/overtime_daily_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-time-itemchartprice:
    get:
      $ref: resources/domestic_stock_quote/time_minute_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-price-2:
    get:
      $ref: resources/domestic_stock_quote/price2.yml

  /uapi/domestic-stock/v1/quotations/inquire-overtime-price:
    get:
      $ref: resources/domestic_stock_quote/overtime_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-overtime-asking-price:
    get:
      $ref: resources/domestic_stock_quote/overtime_quote.yml

  /uapi/domestic-stock/v1/quotations/exp-closing-price:
    get:
      $ref: resources/domestic_stock_quote/closing_expected_conclusion.yml

  /uapi/domestic-stock/v1/quotations/inquire-vi-status:
    get:
      $ref: resources/domestic_stock_quote/vi_status.yml

  /uapi/domestic-stock/v1/quotations/credit-by-company:
    get:
      $ref: resources/domestic_stock_quote/credit_by_company.yml

  /uapi/domestic-stock/v1/quotations/invest-opinion:
    get:
      $ref: resources/domestic_stock_quote/invest_opinion.yml

  /uapi/domestic-stock/v1/quotations/invest-opbysec:
    get:
      $ref: resources/domestic_stock_quote/opinion_by_securities.yml

  /uapi/domestic-stock/v1/quotations/chk-holiday:
    get:
      $ref: resources/domestic_stock_quote/check_holiday.yml

  /uapi/domestic-stock/v1/quotations/search-info:
    get:
      $ref: resources/domestic_stock_quote/search_info.yml

  /uapi/domestic-stock/v1/quotations/search-stock-info:
    get:
      $ref: resources/domestic_stock_quote/search_stock_info.yml

  /uapi/etfetn/v1/quotations/inquire-price:
    get:
      $ref: resources/domestic_etf/price.yml

  /uapi/etfetn/v1/quotations/nav-comparison-trend:
    get:
      $ref: resources/domestic_etf/nav_comparison_trend.yml

  /uapi/etfetn/v1/quotations/nav-comparison-time-trend:
    get:
      $ref: resources/domestic_etf/nav_comparison_minute_trend.yml

  /uapi/etfetn/v1/quotations/nav-comparison-daily-trend:
    get:
      $ref: resources/domestic_etf/nav_comparison_daily_trend.yml

  /uapi/etfetn/v1/quotations/inquire-component-stock-price:
    get:
      $ref: resources/domestic_etf/component_stock_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-daily-indexchartprice:
    get:
      $ref: resources/domestic_stock_index/chart_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-time-indexchartprice:
    get:
      $ref: resources/domestic_stock_index/minute_chart_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-index-price:
    get:
      $ref: resources/domestic_stock_index/price.yml

  /uapi/domestic-stock/v1/quotations/inquire-index-daily-price:
    get:
      $ref: resources/domestic_stock_index/daily_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-index-category-price:
    get:
      $ref: resources/domestic_stock_index/category_price.yml

  /uapi/domestic-stock/v1/quotations/exp-total-index:
    get:
      $ref: resources/domestic_stock_index/total_expected_conclusion.yml

  /uapi/domestic-stock/v1/quotations/inquire-index-tickprice:
    get:
      $ref: resources/domestic_stock_index/tick_price.yml

  /uapi/domestic-stock/v1/quotations/inquire-index-timeprice:
    get:
      $ref: resources/domestic_stock_index/minute_price.yml

  /uapi/domestic-stock/v1/quotations/exp-index-trend:
    get:
      $ref: resources/domestic_stock_index/expected_conclusion_trend.yml

  /uapi/domestic-stock/v1/quotations/comp-interest:
    get:
      $ref: resources/domestic_stock_index/interest.yml

  /uapi/domestic-stock/v1/quotations/news-title:
    get:
      $ref: resources/domestic_stock_index/news_title.yml

  /uapi/domestic-stock/v1/finance/balance-sheet:
    get:
      $ref: resources/domestic_financial_statement/balance_sheet.yml

  /uapi/domestic-stock/v1/finance/income-statement:
    get:
      $ref: resources/domestic_financial_statement/income_statement.yml

  /uapi/domestic-stock/v1/finance/financial-ratio:
    get:
      $ref: resources/domestic_financial_statement/financial_ratio.yml

  /uapi/domestic-stock/v1/finance/profit-ratio:
    get:
      $ref: resources/domestic_financial_statement/profit_ratio.yml

  /uapi/domestic-stock/v1/finance/other-major-ratios:
    get:
      $ref: resources/domestic_financial_statement/other_major_ratios.yml

  /uapi/domestic-stock/v1/finance/stability-ratio:
    get:
      $ref: resources/domestic_financial_statement/stability_ratio.yml

  /uapi/domestic-stock/v1/finance/growth-ratio:
    get:
      $ref: resources/domestic_financial_statement/growth_ratio.yml

  /uapi/domestic-stock/v1/quotations/estimate-perform:
    get:
      $ref: resources/domestic_financial_statement/estimate_perform.yml

  /uapi/domestic-stock/v1/ksdinfo/dividend:
    get:
      $ref: resources/ksd_info/dividend.yml

  /uapi/domestic-stock/v1/ksdinfo/purreq:
    get:
      $ref: resources/ksd_info/purchase_request.yml

  /uapi/domestic-stock/v1/ksdinfo/merger-split:
    get:
      $ref: resources/ksd_info/merger_split.yml

  /uapi/domestic-stock/v1/ksdinfo/rev-split:
    get:
      $ref: resources/ksd_info/change_par_value.yml

  /uapi/domestic-stock/v1/ksdinfo/cap-dcrs:
    get:
      $ref: resources/ksd_info/decrease_capital.yml

  /uapi/domestic-stock/v1/ksdinfo/list-info:
    get:
      $ref: resources/ksd_info/list_info.yml

  /uapi/domestic-stock/v1/ksdinfo/pub-offer:
    get:
      $ref: resources/ksd_info/public_offer_subscription.yml

  /uapi/domestic-stock/v1/ksdinfo/forfeit:
    get:
      $ref: resources/ksd_info/forfeited_stock.yml

  /uapi/domestic-stock/v1/ksdinfo/mand-deposit:
    get:
      $ref: resources/ksd_info/mandatory_deposit.yml

  /uapi/domestic-stock/v1/ksdinfo/paidin-capin:
    get:
      $ref: resources/ksd_info/right_issue.yml

  /uapi/domestic-stock/v1/ksdinfo/bonus-issue:
    get:
      $ref: resources/ksd_info/bonus_issue.yml

  /uapi/domestic-stock/v1/ksdinfo/sharehld-meet:
    get:
      $ref: resources/ksd_info/shareholder_meeting.yml

  /uapi/domestic-stock/v1/quotations/foreign-institution-total:
    get:
      $ref: resources/domestic_technical_analysis/foreign_institution_total.yml

  /uapi/domestic-stock/v1/quotations/psearch-title:
    get:
      $ref: resources/domestic_technical_analysis/personal_search_list.yml

  /uapi/domestic-stock/v1/quotations/psearch-result:
    get:
      $ref: resources/domestic_technical_analysis/personal_search_detail.yml

  /uapi/domestic-stock/v1/quotations/program-trade-by-stock:
    get:
      $ref: resources/domestic_technical_analysis/program_trade_by_stock.yml

  /uapi/domestic-stock/v1/quotations/investor-trend-estimate:
    get:
      $ref: resources/domestic_technical_analysis/investor_trend_estimate.yml

  /uapi/domestic-stock/v1/quotations/inquire-daily-trade-volume:
    get:
      $ref: resources/domestic_technical_analysis/trade_daily_volume.yml

  /uapi/domestic-stock/v1/quotations/inquire-investor-time-by-market:
    get:
      $ref: resources/domestic_technical_analysis/investor_time_by_market.yml

  /uapi/domestic-stock/v1/quotations/daily-credit-balance:
    get:
      $ref: resources/domestic_technical_analysis/credit_balance_daily.yml

  /uapi/domestic-stock/v1/quotations/exp-price-trend:
    get:
      $ref: resources/domestic_technical_analysis/expected_conclusion_trend.yml

  /uapi/domestic-stock/v1/quotations/daily-short-sale:
    get:
      $ref: resources/domestic_technical_analysis/short_sale_daily.yml

  /uapi/domestic-stock/v1/quotations/comp-program-trade-daily:
    get:
      $ref: resources/domestic_technical_analysis/program_trade_daily.yml

  /uapi/domestic-stock/v1/ranking/overtime-exp-trans-fluct:
    get:
      $ref: resources/domestic_technical_analysis/overtime_expected_trans_fluct.yml

  /uapi/domestic-stock/v1/quotations/comp-program-trade-today:
    get:
      $ref: resources/domestic_technical_analysis/program_trade_today.yml

  /uapi/domestic-stock/v1/quotations/frgnmem-trade-estimate:
    get:
      $ref: resources/domestic_technical_analysis/foreign_trade_estimate.yml

  /uapi/domestic-stock/v1/quotations/frgnmem-pchs-trend:
    get:
      $ref: resources/domestic_technical_analysis/foreign_purchase_trend.yml

  /uapi/domestic-stock/v1/quotations/tradprt-byamt:
    get:
      $ref: resources/domestic_technical_analysis/trade_part_by_amount.yml

  /uapi/domestic-stock/v1/quotations/mktfunds:
    get:
      $ref: resources/domestic_technical_analysis/market_fund.yml

  /uapi/domestic-stock/v1/quotations/inquire-investor-daily-by-market:
    get:
      $ref: resources/domestic_technical_analysis/investor_trend_by_market_daily.yml

  /uapi/domestic-stock/v1/quotations/program-trade-by-stock-daily:
    get:
      $ref: resources/domestic_technical_analysis/program_trade_by_stock_daily.yml

  /uapi/domestic-stock/v1/quotations/investor-program-trade-today:
    get:
      $ref: resources/domestic_technical_analysis/investor_program_trade_today.yml

  /uapi/domestic-stock/v1/quotations/capture-uplowprice:
    get:
      $ref: resources/domestic_technical_analysis/capture_up_low_price.yml

  /uapi/domestic-stock/v1/quotations/pbar-tratio:
    get:
      $ref: resources/domestic_technical_analysis/volume_profile_indicator.yml

  /uapi/domestic-stock/v1/quotations/inquire-member-daily:
    get:
      $ref: resources/domestic_technical_analysis/member_trend_daily.yml

  /uapi/domestic-stock/v1/quotations/volume-rank:
    get:
      $ref: resources/domestic_ranking/volume_rank.yml

  /uapi/domestic-stock/v1/ranking/fluctuation:
    get:
      $ref: resources/domestic_ranking/fluctuation_rank.yml

  /uapi/domestic-stock/v1/ranking/profit-asset-index:
    get:
      $ref: resources/domestic_ranking/profit_asset_index.yml

  /uapi/domestic-stock/v1/ranking/market-cap:
    get:
      $ref: resources/domestic_ranking/market_cap.yml

  /uapi/domestic-stock/v1/ranking/finance-ratio:
    get:
      $ref: resources/domestic_ranking/financial_ratio.yml

  /uapi/domestic-stock/v1/ranking/after-hour-balance:
    get:
      $ref: resources/domestic_ranking/after_hour_balance.yml

  /uapi/domestic-stock/v1/ranking/prefer-disparate-ratio:
    get:
      $ref: resources/domestic_ranking/prefer_disparate_ratio.yml

  /uapi/domestic-stock/v1/ranking/quote-balance:
    get:
      $ref: resources/domestic_ranking/quote_balance.yml

  /uapi/domestic-stock/v1/ranking/disparity:
    get:
      $ref: resources/domestic_ranking/disparity.yml

  /uapi/domestic-stock/v1/ranking/market-value:
    get:
      $ref: resources/domestic_ranking/market_value.yml

  /uapi/domestic-stock/v1/ranking/volume-power:
    get:
      $ref: resources/domestic_ranking/volume_power.yml

  /uapi/domestic-stock/v1/ranking/top-interest-stock:
    get:
      $ref: resources/domestic_ranking/top_interest_stock.yml

  /uapi/domestic-stock/v1/ranking/exp-trans-updown:
    get:
      $ref: resources/domestic_ranking/expected_conclusion_up_down.yml

  /uapi/domestic-stock/v1/ranking/traded-by-company:
    get:
      $ref: resources/domestic_ranking/trade_by_company.yml

  /uapi/domestic-stock/v1/ranking/near-new-highlow:
    get:
      $ref: resources/domestic_ranking/near_new_high_low.yml

  /uapi/domestic-stock/v1/ranking/bulk-trans-num:
    get:
      $ref: resources/domestic_ranking/bulk_trans_num.yml

  /uapi/domestic-stock/v1/ranking/short-sale:
    get:
      $ref: resources/domestic_ranking/short_sale.yml

  /uapi/domestic-stock/v1/ranking/credit-balance:
    get:
      $ref: resources/domestic_ranking/credit_balance.yml

  /uapi/domestic-stock/v1/ranking/dividend-rate:
    get:
      $ref: resources/domestic_ranking/dividend_rate.yml

  /uapi/domestic-stock/v1/ranking/overtime-fluctuation:
    get:
      $ref: resources/domestic_ranking/overtime_fluctuation_rate.yml

  /uapi/domestic-stock/v1/ranking/overtime-volume:
    get:
      $ref: resources/domestic_ranking/overtime_volume.yml

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: authorization
