openapi: 3.0.3
info:
  title: OpenKIS
  description: 한국투자증권에서 제공하는 OpenAPI 정의
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: 강한구
    email: kgcrom@hotmail.com

servers:
  - url: "https://openapi.koreainvestment.com:9443"
    description: KIS Production server
  - url: "https://openapivts.koreainvestment.com:29443"
    description: KIS Sandbox server

tags:
  - name: Auth
    description: 인증
  - name: DomesticStockQuote
    description: 국내주식 호가
  - name: EtfNEtnQuote
    description: ETF/ETN 호가
  - name: DomesticStockIndex
    description: 국내주식 지수
  - name: DomesticStockFinancialStatement
    description: 국내주식 재무 정보
  - name: DomesticKsdInfo
    description: 국내주식 한국예탁결제원 정보
  - name: DomesticTechnicalAnalysis
    description: 국내주식 시세 분석
  - name: DomesticRanking
    description: 국내주식 순위

security:
  - accessToken: []

paths:
  /oauth2/tokenP:
    post:
      $ref: resources/auth/auth_token.yml

  /oauth2/revokeP:
    post:
      $ref: resources/auth/auth_revoke.yml

  /uapi/domestic-stock/v1/quotations/inquire-price:
    get:
      operationId: getDomesticStockPrice

      summary: 국내주식 현재가 기본시세 조회

      description: |
        주식 현재가 시세 API입니다. 실시간 시세를 원하신다면 웹소켓 API를 활용하세요.

        ※ 종목코드 마스터파일 파이썬 정제코드는 한국투자증권 Github 참고 부탁드립니다.<br/>
          https://github.com/koreainvestment/open-trading-api/tree/main/stocks_info

      responses:
        200:
          description: 국내주식 현재가 기본시세 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-ccnl:
    get:
      operationId: getDomesticStockConclusion

      summary: 국내주식 현재가 체결시세 조회

      description: 국내현재가 체결 API 입니다. 종목의 체결 정보를 확인할 수 있습니다.

      responses:
        200:
          description: 국내주식 현재가 체결시세 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-daily-price:
    get:
      operationId: getDomesticStockDailyPrice

      summary: 국내주식 일자별 시세 조회

      description: 주식현재가 일자별 API입니다. 일/주/월별 주가를 확인할 수 있으며 최근 30일(주,별)로 제한되어 있습니다.

      responses:
        200:
          description: 국내주식 일자별 시세 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn:
    get:
      operationId: getDomesticStockQuoteAndExp

      summary: 국내주식 현재가 호가/예상체결 조회

      description: |
        주식현재가 호가 예상체결 API입니다.

        매수 매도 호가를 확인하실 수 있습니다.<br/> 실시간 데이터를 원하신다면 웹소켓 API를 활용하세요.

      responses:
        200:
          description: 국내주식 현재가 호가/예상체결 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-investor:
    get:
      operationId: getDomesticStockInvestor

      summary: 국내주식 현재가 투자자 조회

      description: |
        주식현재가 투자자 API입니다. 개인, 외국인, 기관 등 투자 정보를 확인할 수 있습니다.

        [유의사항]<br/>
        - 외국인은 외국인(외국인투자등록 고유번호가 있는 경우)+기타 외국인을 지칭합니다.<br/>
        - 당일 데이터는 장 종료 후 제공됩니다.

      responses:
        200:
          description: 국내주식 현재가 투자자 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-member:
    get:
      operationId: getDomesticStockMember

      summary: 국내주식 현재가 회원사 조회

      description: 주식 현재가 회원사 API입니다. 회원사의 투자 정보를 확인할 수 있습니다.

      responses:
        200:
          description: 국내주식 현재가 회원사 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice:
    get:
      operationId: getDomesticStockPeriodPrice

      summary: 국내주식 기간별 시세(일/주/월/년) 조회

      description: |
        국내주식기간별시세(일/주/월/년) API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

      responses:
        200:
          description: 국내주식 기간별 시세(일/주/월/년) 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-time-itemconclusion:
    get:
      operationId: getDomesticStockTimeConclusion

      summary: 국내주식 현재가 당일시간대별 체결 조회

      description: 주식현재가 당일시간대별체결 API입니다.

      responses:
        200:
          description: 국내주식 현재가 당일시간대별 체결 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-time-overtimeconclusion:
    get:
      operationId: getDomesticStockOverTimeConclusion

      summary: 국내주식 현재가 시간외 시간대별 체결 조회

      description: 주식현재가 시간외시간별체결 API입니다.

      responses:
        200:
          description: 국내주식 현재가 시간외 시간대별 체결 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice:
    get:
      operationId: getDomesticStockDailyOverTimePrice

      summary: 국내주식 현재가 시간외 일자별 주가 조회

      description: 주식현재가 시간외일자별주가 API입니다.

      responses:
        200:
          description: 국내주식 현재가 시간외 일자별 주가 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-overtime-price:
    get:
      operationId: getDomesticStockOverTimePrice

      summary: 국내주식 시간외 현재가 조회

      description: |
        국내주식 시간외현재가 API입니다.

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 좌측 상단기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 시간외 현재가 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-overtime-asking-price:
    get:
      operationId: getDomesticStockOverTimeQuote

      summary: 국내주식 시간외 호가 조회

      description: |
        국내주식 시간외호가 API입니다.

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 '호가' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 시간외 호가 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-time-itemchartprice:
    get:
      operationId: getDomesticStockMinutePrice

      summary: 국내주식 당일 분봉 조회

      description: |
        주식당일분봉조회 API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 30건까지 확인 가능합니다.

      responses:
        200:
          description: 국내주식 당일 분봉 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/inquire-price-2:
    get:
      operationId: getDomesticStockPrice2

      summary: 국내주식 현재가 시세2 조회

      description: 주식현재가 시세2 API입니다.

      responses:
        200:
          description: 국내주식 현재가 시세2 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/domestic-stock/v1/quotations/exp-closing-price:
    get:
      operationId: getDomesticStockClosingExp

      summary: 국내주식 장마감 예상체결가 조회

      description: |
        국내주식 장마감 예상체결가 API입니다.

        한국투자 HTS(eFriend Plus) > [0183] 장마감 예상체결가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 장마감 예상체결가 조회 성공

      tags:
        - DomesticStockQuote

  /uapi/etfetn/v1/quotations/inquire-price:
    get:
      operationId: getEtfNEtnPrice

      summary: ETF/ETN 현재가 기본시세 조회

      description: |
        ETF/ETN 현재가 API입니다.

        한국투자 HTS(eFriend Plus) > [0240] ETF/ETN 현재가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: ETF/ETN 현재가 기본시세 조회 성공

      tags:
        - EtfNEtnQuote

  /uapi/etfetn/v1/quotations/nav-comparison-trend:
    get:
      operationId: getEtfNEtnNavStockTrend

      summary: ETF/ETN NAV 비교 추이(종목) 조회

      description: |
        NAV 비교추이(종목) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: ETF/ETN NAV 비교 추이(종목) 조회 성공

      tags:
        - EtfNEtnQuote

  /uapi/etfetn/v1/quotations/nav-comparison-time-trend:
    get:
      operationId: getEtfNEtnNavMinuteTrend

      summary: ETF/ETN NAV 비교 추이(분) 조회

      description: |
        NAV 비교추이(분) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "분별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최근 30건까지 확인 가능합니다.

      responses:
        200:
          description: ETF/ETN NAV 비교 추이(분) 조회 성공

      tags:
        - EtfNEtnQuote

  /uapi/etfetn/v1/quotations/nav-comparison-daily-trend:
    get:
      operationId: getEtfNEtnNavDailyTrend

      summary: ETF/ETN NAV 비교 추이(일) 조회

      description: |
        NAV 비교추이(일) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "일별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

      responses:
        200:
          description: ETF/ETN NAV 비교 추이(일) 조회 성공

      tags:
        - EtfNEtnQuote

  /uapi/etfetn/v1/quotations/inquire-component-stock-price:
    get:
      operationId: getEtfNEtnComponentStockPrice

      summary: ETF/ETN 구성종목 시세 조회

      description: |
        ETF 구성종목시세 API입니다.

        한국투자 HTS(eFriend Plus) > [0245] ETF/ETN 구성종목시세 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다

      responses:
        200:
          description: ETF/ETN 구성종목 시세 조회 성공

      tags:
        - EtfNEtnQuote

  /uapi/domestic-stock/v1/quotations/inquire-daily-indexchartprice:
    get:
      operationId: getIndexDailyChartPrice

      summary: 국내주식 업종기간별 시세(일/주/월/년) 조회

      description: |
        국내주식 업종기간별시세(일/주/월/년) API입니다.

        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 50건까지 확인 가능합니다.

      responses:
        200:
          description: 국내주식 업종기간별 시세(일/주/월/년) 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-time-indexchartprice:
    get:
      operationId: getIndexMinuteChartPrice

      summary: 국내주식 업종분봉 조회

      description: |
        국내주식 업종분봉조회 API입니다.

        실전계좌의 경우, 한 번의 호출에 최대 102건까지 확인 가능합니다.

      responses:
        200:
          description: 국내주식 업종분봉 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-price:
    get:
      operationId: getIndexPrice

      summary: 국내업종 현재 지수 조회

      description: |
        국내업종 현재지수 API입니다.

        한국투자 HTS(eFriend Plus) > [0210] 업종 현재지수 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 현재 지수 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-daily-price:
    get:
      operationId: getIndexDailyPrice

      summary: 국내업종 일자별 지수 조회

      description: |
        국내업종 일자별지수 API입니다. 한 번의 조회에 100건까지 확인 가능합니다.

        한국투자 HTS(eFriend Plus) > [0212] 업종 일자별지수 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 일자별 지수 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-category-price:
    get:
      operationId: getIndexCategoryPrice

      summary: 국내업종 구분별 전체 시세 조회

      description: |
        국내업종 구분별전체시세 API입니다.

        한국투자 HTS(eFriend Plus) > [0214] 업종 전체시세 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 구분별 전체 시세 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/exp-total-index:
    get:
      operationId: getIndexTotalExp

      summary: 국내주식 예상체결 전체지수 조회

      description: |
        국내주식 예상체결 전체지수 API입니다.

        한국투자 HTS(eFriend Plus) > [0185] 예상체결 전체지수 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 예상체결 전체지수 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-tickprice:
    get:
      operationId: getIndexTickPrice

      summary: 국내업종 시간별지수(초) 조회

      description: |
        국내업종 시간별지수(초) API입니다.

        한국투자 HTS(eFriend Plus) > [0211] 업종 시간별지수 화면에서 우측 '10초' 선택 시의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 시간별지수(초) 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/inquire-index-timeprice:
    get:
      operationId: getIndexMinutePrice

      summary: 국내업종 시간별지수(분) 조회

      description: |
        국내업종 시간별지수(분) API입니다.

        한국투자 HTS(eFriend Plus) > [0211] 업종 시간별지수 화면에서 우측 '1분' 선택 시의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 시간별지수(분) 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/quotations/exp-index-trend:
    get:
      operationId: getIndexTrendExp

      summary: 국내업종 예상체결지수 추이

      description: |
        국내주식 예상체결지수 추이 API입니다.

        한국투자 HTS(eFriend Plus) > [0184] 예상체결지수 추이 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내업종 예상체결지수 추이 조회 성공

      tags:
        - DomesticStockIndex

  /uapi/domestic-stock/v1/finance/balance-sheet:
    get:
      operationId: getFinancialBalanceSheet

      summary: 국내주식 대차대조표

      description: |
        국내주식 대차대조표 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '1. 대차대조표' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 대차대조표 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/income-statement:
    get:
      operationId: getFinancialIncomeStatement

      summary: 국내주식 손익계산서

      description: |
        국내주식 손익계산서 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '2. 손익계산서' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 손익계산서 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/financial-ratio:
    get:
      operationId: getFinancialRatio

      summary: 국내주식 재무비율

      description: |
        국내주식 재무비율 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 우측의 '재무 비율' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 재무비율 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/profit-ratio:
    get:
      operationId: getFinancialProfitRatio

      summary: 국내주식 수익성비율

      description: |
        국내주식 수익성비율 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '4. 수익성비율' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 수익성비율 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/other-major-ratios:
    get:
      operationId: getFinancialOtherMajorRatio

      summary: 국내주식 기타주요비율

      description: |
        국내주식 기타주요비율 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '9. 기타주요비율' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 기타주요비율 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/stability-ratio:
    get:
      operationId: getFinancialStabilityRatio

      summary: 국내주식 안정성비율

      description: |
        국내주식 안정성비율 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '5. 안정성비율' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 안정성비율 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/finance/growth-ratio:
    get:
      operationId: getFinancialGrowthRatio

      summary: 국내주식 성장성비율

      description: |
        국내주식 성장성비율 API입니다.

        한국투자 HTS(eFriend Plus) > [0635] 재무분석종합 화면의 하단 '7.성장성비율' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 성장성비율 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/quotations/estimate-perform:
    get:
      operationId: getFinancialEstimatePerform

      summary: 국내주식 종목추정실적

      description: |
        국내주식 종목추정실적 API입니다.

        한국투자 HTS(eFriend Plus) > [0613] 종목추정실적 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다. 

        ※ 본 화면의 추정실적 및 투자의견은 당월 초의 애널리스트의 의견사항이므로 월중 변동 사항이 있을 수 있음을 유의하시기 바랍니다.<br/>
        ※ 종목별 수익추정은 리서치본부에서 매월 발표되는 거래소, 코스닥 160여개 기업에 한정합니다. 구체적인 종목 리스트는 추정종목리스트를 참고하기 바랍니다.

      responses:
        200:
          description: 국내주식 종목추정실적 조회 성공

      tags:
        - DomesticStockFinancialStatement

  /uapi/domestic-stock/v1/ksdinfo/dividend:
    get:
      operationId: getKsdDividendInfo

      summary: 예탁원정보 (배당일정)

      description: |
        예탁원정보(배당일정) API입니다. 

        한국투자 HTS(eFriend Plus) > [0658] 배당 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.
        '주식배당지급일'은 배당주식의 주식교부일자를 말합니다. 배당주식의 계좌입고는 배당주식 상장일인데 일반적으로 주권교부일의 익영업일입니다.

      responses:
        200:
          description: 예탁원정보 (배당일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/purreq:
    get:
      operationId: getKsdBuybackInfo

      summary: 예탁원정보 (주식매수청구일정)

      description: |
        예탁원정보(주식매수청구일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0663] 주식매수청구 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (주식매수청구일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/merger-split:
    get:
      operationId: getKsdMergerAndSplit

      summary: 예탁원정보 (합병/분할일정)

      description: |
        예탁원정보(합병/분할일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0664] 합병/분할 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (합병/분할일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/rev-split:
    get:
      operationId: getKsdChangeParValue

      summary: 예탁원정보 (액면교체일정)

      description: |
        예탁원정보(액면교체일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0657] 액면교체 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (액면교체일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/cap-dcrs:
    get:
      operationId: getKsdDecreaseCapital

      summary: 예탁원정보 (자본감소일정)

      description: |
        예탁원정보(자본감소일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0665] 자본감소 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (자본감소일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/list-info:
    get:
      operationId: getKsdListInfo

      summary: 예탁원정보 (상장정보일정)

      description: |
        예탁원정보(상장정보일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0666] 상장정보 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (상장정보일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/pub-offer:
    get:
      operationId: getKsdPublicOfferSubscription

      summary: 예탁원정보 (공모주청약일정)

      description: |
        예탁원정보(공모주청약일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0667] 공모주청약 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (공모주청약일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/forfeit:
    get:
      operationId: getKsdForfeitedStock

      summary: 예탁원정보 (실권주일정)

      description: |
        예탁원정보(실권주일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0668] 실권주 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (실권주일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/mand-deposit:
    get:
      operationId: getKsdMandatoryDeposit

      summary: 예탁원정보 (의무예치일정)

      description: |
        예탁원정보(의무예치일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0758] 의무예치 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (의무예치일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/paidin-capin:
    get:
      operationId: getKsdRightIssue

      summary: 예탁원정보 (유상증자일정)

      description: |
        예탁원정보(유상증자일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0655] 유상증자 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (유상증자일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/bonus-issue:
    get:
      operationId: getKsdBonusIssue

      summary: 예탁원정보 (무상증자일정)

      description: |
        예탁원정보(무상증자일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0656] 무상증자 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (무상증자일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/ksdinfo/sharehld-meet:
    get:
      operationId: getKsdShareholderMeeting

      summary: 예탁원정보 (주주총회일정)

      description: |
        예탁원정보(주주총회일정) API입니다.

        한국투자 HTS(eFriend Plus) > [0759] 주주총회 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 예탁원에서 제공한 자료이므로 정보용으로만 사용하시기 바랍니다.

      responses:
        200:
          description: 예탁원정보 (주주총회일정) 조회 성공

      tags:
        - DomesticKsdInfo

  /uapi/domestic-stock/v1/quotations/foreign-institution-total:
    get:
      operationId: getTechnicalForeignInstitutionTotal

      summary: 국내기관_외국인 매매종목가집계

      description: |
        국내기관_외국인 매매종목가집계 API입니다.

        증권사 직원이 장중에 집계/입력한 자료를 단순 누계한 수치로서,<br/>
        입력시간은 외국인 09:30, 11:20, 13:20, 14:30 / 기관종합 10:00, 11:20, 13:20, 14:30 이며, 사정에 따라 변동될 수 있습니다.

      responses:
        200:
          description: 국내기관_외국인 매매종목가집계 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/psearch-title:
    get:
      operationId: getTechnicalPersonalSearchList

      summary: 종목조건검색 목록조회

      description: |
        HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API입니다.<br/>
        종목조건검색 목록조회 API(/uapi/domestic-stock/v1/quotations/psearch-title)의 output인 'seq'을 종목조건검색조회 API(/uapi/domestic-stock/v1/quotations/psearch-result)의 input으로 사용하시면 됩니다.

        ※ 시스템 안정성을 위해 API로 제공되는 조건검색 결과의 경우 조건당 100건으로 제한을 둔 점 양해 부탁드립니다.

        ※ [0110] 화면의 '대상변경' 설정사항은 HTS [0110] 사용자 조건검색 화면에만 적용됨에 유의 부탁드립니다.

        ※ '조회가 계속 됩니다. (다음을 누르십시오.)' 오류 발생 시 해결방법<br/>
        → HTS(efriend Plus) [0110] 조건검색 화면에서 조건을 등록하신 후, 왼쪽 하단의 "사용자조건 서버저장" 클릭하셔서 등록한 조건들을 서버로 보낸 후 다시 API 호출 시도 부탁드립니다.

      responses:
        200:
          description: 종목조건검색 목록조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/psearch-result:
    get:
      operationId: getTechnicalPersonalSearchDetail

      summary: 종목조건검색 조회

      description: |
        HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API입니다.<br/>
        종목조건검색 목록조회 API(/uapi/domestic-stock/v1/quotations/psearch-title)의 output인 'seq'을 종목조건검색조회 API(/uapi/domestic-stock/v1/quotations/psearch-result)의 input으로 사용하시면 됩니다.

        ※ 시스템 안정성을 위해 API로 제공되는 조건검색 결과의 경우 조건당 100건으로 제한을 둔 점 양해 부탁드립니다.

        ※ [0110] 화면의 '대상변경' 설정사항은 HTS [0110] 사용자 조건검색 화면에만 적용됨에 유의 부탁드립니다.

        ※ '조회가 계속 됩니다. (다음을 누르십시오.)' 오류 발생 시 해결방법<br/>
        → HTS(efriend Plus) [0110] 조건검색 화면에서 조건을 등록하신 후, 왼쪽 하단의 "사용자조건 서버저장" 클릭하셔서 등록한 조건들을 서버로 보낸 후 다시 API 호출 시도 부탁드립니다.

        ※ {"rt_cd":"1","msg_cd":"MCA05918","msg1":"종목코드 오류입니다."} 메시지 발생 이유<br/>
        → 조건검색 결과 검색된 종목이 0개인 경우 위 응답값을 수신하게 됩니다.

      responses:
        200:
          description: 종목조건검색 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/program-trade-by-stock:
    get:
      operationId: getTechnicalProgramTradeByStock

      summary: 종목별 프로그램매매추이(체결)

      description: |
        국내주식 종목별 프로그램매매추이(체결) API입니다.

        한국투자 HTS(eFriend Plus) > [0465] 종목별 프로그램 매매추이 화면(혹은 한국투자 MTS > 국내 현재가 > 기타수급 > 프로그램) 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 종목별 프로그램매매추이(체결) 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/investor-trend-estimate:
    get:
      operationId: getTechnicalInvestorTrend

      summary: 종목별 외인기관 추정가집계

      description: |
        국내주식 종목별 외국인, 기관 추정가집계 API입니다.

        한국투자 MTS > 국내 현재가 > 투자자 > 투자자동향 탭 > 왼쪽구분을 '추정(주)'로 선택 시 확인 가능한 데이터를 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        증권사 직원이 장중에 집계/입력한 자료를 단순 누계한 수치로서,
        입력시간은 외국인 09:30, 11:20, 13:20, 14:30 / 기관종합 10:00, 11:20, 13:20, 14:30 이며, 사정에 따라 변동될 수 있습니다.

      responses:
        200:
          description: 종목별 외인기관 추정가집계 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/inquire-daily-trade-volume:
    get:
      operationId: getTechnicalDailyTradeVolume

      summary: 종목별일별매수매도체결량

      description: |
        종목별일별매수매도체결량 API입니다. 실전계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.<br/>
        국내주식 종목의 일별 매수체결량, 매도체결량 데이터를 확인할 수 있습니다.

      responses:
        200:
          description: 종목별일별매수매도체결량 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/inquire-investor-time-by-market:
    get:
      operationId: getTechnicalInvestorTrendByMarket

      summary: 시장별 투자자매매동향

      description: |
        시장별 투자자매매동향(시세성) API입니다.

        한국투자 HTS(eFriend Plus) > [0403] 시장별 시간동향 의 상단 표 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 시장별 투자자매매동향 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/daily-credit-balance:
    get:
      operationId: getTechnicalDailyCreditBalance

      summary: 국내주식 신용잔고 일별추이

      description: |
        국내주식 신용잔고 일별추이 API입니다.<br/>
        한국투자 HTS(eFriend Plus) > [0476] 국내주식 신용잔고 일별추이 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        한 번의 호출에 최대 30건 확인 가능하며, fid_input_date_1 을 입력하여 다음 조회가 가능합니다.

        ※ 상환수량은 "매도상환수량+현금상환수량"의 합계 수치입니다.

      responses:
        200:
          description: 국내주식 신용잔고 일별추이 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/exp-price-trend:
    get:
      operationId: getTechnicalExpTrend

      summary: 국내주식 예상체결가 추이

      description: |
        국내주식 예상체결가 추이 API입니다.<br/>
        한국투자 HTS(eFriend Plus) > [0184] 예상체결지수 추이 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

      responses:
        200:
          description: 국내주식 예상체결가 추이 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/daily-short-sale:
    get:
      operationId: getTechnicalDailyShortSale

      summary: 국내주식 공매도 일별추이

      description: 국내주식 공매도 일별추이 API입니다.

      responses:
        200:
          description: 국내주식 공매도 일별추이 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/comp-program-trade-daily:
    get:
      operationId: getTechnicalDailyProgramTrade

      summary: 국내주식 프로그램매매 종합현황(일별)

      description: 국내주식 프로그램매매 종합현황(일별) API입니다.

      responses:
        200:
          description: 국내주식 프로그램매매 종합현황(일별) 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/ranking/overtime-exp-trans-fluct:
    get:
      operationId: getTechnicalOverTimeExpFluctuationRate

      summary: 국내주식 시간외 예상체결 등락률

      description: |
        국내주식 시간외예상체결등락률 API입니다. 

        한국투자 HTS(eFriend Plus) > [0236] 시간외 예상체결등락률 화면의 기능을 API로 개발한 사항으로,<br/>
        해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내ㅈ주식 시간외 예상체결 등락률 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/comp-program-trade-today:
    get:
      operationId: getTechnicalHourlyProgramTrade

      summary: 프로그램매매 종합현황(시간)

      description: |
        프로그램매매 종합현황(시간) API입니다.<br/>
        한국투자 HTS(eFriend Plus) > [0460] 프로그램매매 종합현황 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        ※ 장시간(09:00~15:30) 동안의 최근 30분간의 데이터 확인이 가능하며, 다음조회가 불가합니다.<br/>
        ※ 장시간(09:00~15:30) 이후에는 bsop_hour 에 153000 ~ 170000 까지의 시간데이터가 출력되지만 데이터는 모두 동일한 장마감 데이터인 점 유의 부탁드립니다.

      responses:
        200:
          description: 프로그램매매 종합현황(시간) 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/frgnmem-trade-estimate:
    get:
      operationId: getTechnicalEstimateForeignTrade

      summary: 국내주식 외국계 매매종목 가집계

      description: |
        외국계 매매종목 가집계 API입니다.

        한국투자 HTS(eFriend Plus) > [0430] 외국계 매매종목 가집계 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 외국계 매매종목 가집계 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/frgnmem-pchs-trend:
    get:
      operationId: getTechnicalForeignPurchaseTrend

      summary: 국내주식 종목별 외국계 순매수추이

      description: |
        종목별 외국계 순매수추이 API입니다.

        한국투자 HTS(eFriend Plus) > [0433] 종목별 외국계 순매수추이 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 종목별 외국계 순매수추이 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/tradprt-byamt:
    get:
      operationId: getTechnicalTradeByAmount

      summary: 국내주식 체결금액별 매매비중

      description: |
        국내주식 체결금액별 매매비중 API입니다.

        한국투자 HTS(eFriend Plus) > [0135] 체결금액별 매매비중 화면의 "상단 표" 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 체결금액별 매매비중 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/mktfunds:
    get:
      operationId: getTechnicalMarketFund

      summary: 국내 증시자금 종합

      description: |
        국내 증시자금 종합 API입니다.

        한국투자 HTS(eFriend Plus) > [0470] 증시자금 종합 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다. (단위: 억원)

        ※ 해당자료는 금융투자협회의 자료를 제공하고 있으며, 오류와 지연이 발생할 수 있습니다.<br/>
        ※ 위 정보에 의한 투자판단의 최종책임은 정보이용자에게 있으며, 당사와 한국금융투자협회는 어떠한 법적인 책임도 지지 않사오니 투자에 참고로만 이용하시기 바랍니다.

      responses:
        200:
          description: 국내 증시자금 종합 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/inquire-investor-daily-by-market:
    get:
      operationId: getTechnicalDailyInvestorTrendByMarket

      summary: 국내주식 시장별 투자자매매동향(일별)

      description: |
        시장별 투자자매매동향(일별) API입니다.

        한국투자 HTS(eFriend Plus) > [0404] 시장별 일별동향 의 상단 표 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 시장별 투자자매매동향(일별) 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/program-trade-by-stock-daily:
    get:
      operationId: getTechnicalDailyProgramTradeByStock

      summary: 국내주식 종목별 프로그램매매추이(일별)

      description: |
        국내주식 종목별 프로그램매매추이(일별) API입니다.

        한국투자 HTS(eFriend Plus) > [0465] 종목별 프로그램 매매추이 화면(혹은 한국투자 MTS > 국내 현재가 > 기타수급 > 프로그램) 의 "일자별" 클릭 시 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 종목별 프로그램매매추이(일별) 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/investor-program-trade-today:
    get:
      operationId: getTechnicalTodayProgramTrendByInvestor

      summary: 국내주식 프로그램매매 투자자매매동향

      description: |
        프로그램매매 투자자매매동향(당일) API입니다.

        한국투자 HTS(eFriend Plus) > [0466] 프로그램매매 투자자별 동향 화면 의 "당일동향" 표의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 프로그램매매 투자자매매동향 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/capture-uplowprice:
    get:
      operationId: getTechnicalCaptureUpLowPrice

      summary: 국내주식 상하한가 포착

      description: |
        국내주식 상하한가 포착 API입니다.

        한국투자 HTS(eFriend Plus) > [0917] 실시간 상하한가 포착 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 상하한가 포착 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/pbar-tratio:
    get:
      operationId: getTechnicalVolumeProfileIndicator

      summary: 국내주식 매물대/거래비중

      description: |
        국내주식 매물대/거래비중 API입니다.

        한국투자 HTS(eFriend Plus) > [0113] 당일가격대별 매물대 화면의 데이터 중 일부를 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 매물대/거래비중 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/inquire-member-daily:
    get:
      operationId: getTechnicalDailyMemberTrend

      summary: 국내주식 현재가 회원사 종목매매동향

      description: |
        주식현재가 회원사 종목매매동향 API입니다.

        한국투자 HTS(eFriend Plus) > [0454] 증권사 종목매매동향 화면을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 현재가 회원사 종목매매동향 조회 성공

      tags:
        - DomesticTechnicalAnalysis

  /uapi/domestic-stock/v1/quotations/volume-rank:
    get:
      operationId: getRankingVolume

      summary: 국내주식 거래량순위

      description: |
        국내주식 거래량순위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0171] 거래량 순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.<br/>

        30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        HTS [0110]에서 여러가지 조건을 설정할 수 있는데, 그 중 거래량 순위(ex. 0봉전 거래량 상위순 100종목) 에 대해서도 설정해서 종목을 검색할 수 있습니다.<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 거래량순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/fluctuation:
    get:
      operationId: getRankingFluctuationRate

      summary: 국내주식 등락률 순위

      description: |
        국내주식 등락률 순위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0170] 등락률 순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 등락률 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/profit-asset-index:
    get:
      operationId: getRankingProfitAssetIndex

      summary: 국내주식 수익률/자산지표 순위

      description: |
        국내주식 수익자산지표 순위 API입니다.

        한국투자 HTS(eFriend Plus) > [0173] 수익자산지표 순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 수익률/자산지표 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/market-cap:
    get:
      operationId: getRankingMarketCap

      summary: 국내주식 시가총액 상위

      description: |
        국내주식 시가총액 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0174] 시가총액 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 시가총액 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/finance-ratio:
    get:
      operationId: getRankingFinancialRatio

      summary: 국내주식 재무비율 순위

      description: |
        국내주식 재무비율 순위 API입니다.

        한국투자 HTS(eFriend Plus) > [0175] 재무비율순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 재무비율 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/after-hour-balance:
    get:
      operationId: getRankingAfterBalance

      summary: 국내주식 시간외잔량 순위

      description: |
        국내주식 시간외잔량 순위 API입니다.

        한국투자 HTS(eFriend Plus) > [0176] 시간외잔량 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 시간외잔량 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/prefer-disparate-ratio:
    get:
      operationId: getRankingPreferDisparateRatio

      summary: 국내주식 우선주/괴리율 상위

      description: |
        국내주식 우선주/괴리율 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0177] 우선주/괴리율 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 우선주/괴리율 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/quote-balance:
    get:
      operationId: getRankingQuoteBalance

      summary: 국내주식 호가잔량 순위

      description: |
        국내주식 호가잔량 순위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0172] 호가잔량 순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 호가잔량 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/disparity:
    get:
      operationId: getRankingDisparity

      summary: 국내주식 이격도 순위

      description: |
        국내주식 이격도 순위 API입니다.

        한국투자 HTS(eFriend Plus) > [0178] 이격도 순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 이격도 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/market-value:
    get:
      operationId: getRankingMarketValue

      summary: 국내주식 시장가치 순위

      description: |
        국내주식 시장가치 순위 API입니다.

        한국투자 HTS(eFriend Plus) > [0179] 시장가치순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 시장가치 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/volume-power:
    get:
      operationId: getRankingVolumePower

      summary: 국내주식 체결강도 순위

      description: |
        국내주식 체결강도 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0168] 체결강도 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 체결강도 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/top-interest-stock:
    get:
      operationId: getRankingTopInterestStock

      summary: 국내주식 관심종목등록 상위

      description: |
        국내주식 관심종목등록 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0180] 관심종목등록상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 관심종목등록 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/exp-trans-updown:
    get:
      operationId: getRankingExpTransUpDown

      summary: 국내주식 예상체결 상승/하락 상위

      description: |
        국내주식 예상체결 상승/하락상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0182] 예상체결 상승/하락상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 예상체결 상승/하락 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/traded-by-company:
    get:
      operationId: getRankingTrade

      summary: 국내주식 당사매매순위 상위

      description: |
        국내주식 당사매매종목 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0186] 당사매매종목 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 당사매매종목 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/near-new-highlow:
    get:
      operationId: getRankingNearNewHighLow

      summary: 국내주식 신고가/신저가 근접종목 상위

      description: |
        국내주식 신고/신저근접종목 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0187] 신고/신저 근접종목 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 신고/신저근접종목 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/bulk-trans-num:
    get:
      operationId: getRankingBulkTransNum

      summary: 국내주식 대량체결건수 상위

      description: |
        국내주식 대량체결건수 상위 API입니다.

        한국투자 HTS(eFriend Plus) > [0169] 대량체결건수 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 30건 확인 가능하며, 다음 조회가 불가합니다.

        ※ 30건 이상의 목록 조회가 필요한 경우, 대안으로 종목조건검색 API를 이용해서 원하는 종목 100개까지 검색할 수 있는 기능을 제공하고 있습니다.<br/>
        종목조건검색 API는 HTS(efriend Plus) [0110] 조건검색에서 등록 및 서버저장한 나의 조건 목록을 확인할 수 있는 API로,<br/>
        자세한 사용 방법은 공지사항 - [조건검색 필독] 조건검색 API 이용안내 참고 부탁드립니다.

      responses:
        200:
          description: 국내주식 대량체결건수 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/short-sale:
    get:
      operationId: getRankingShortSale

      summary: 국내주식 공매도 상위종목

      description: |
        공매도 상위종목 API입니다. 

        한국투자 HTS(eFriend Plus) > [0482] 공매도 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 공매도 상위종목 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/credit-balance:
    get:
      operationId: getRankingCreditBalance

      summary: 국내주식 신용잔고 상위

      description: |
        국내주식 신용잔고 상위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0475] 신용잔고 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 신용잔고 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/dividend-rate:
    get:
      operationId: getRankingDividendRate

      summary: 국내주식 배당률 상위

      description: |
        국내주식 배당률 상위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0188] 배당률 상위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 배당률 상위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/overtime-fluctuation:
    get:
      operationId: getRankingOverTimeFluctuationRate

      summary: 국내주식 시간외등락률 순위

      description: |
        국내주식 시간외등락율순위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0234] 시간외 등락률순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 시간외등락률 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/ranking/overtime-volume:
    get:
      operationId: getRankingOverTimeVolume

      summary: 국내주식 시간외거래량 순위

      description: |
        국내주식 시간외거래량순위 API입니다. 

        한국투자 HTS(eFriend Plus) > [0235] 시간외 거래량순위 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 국내주식 시간외거래량 순위 조회 성공

      tags:
        - DomesticRanking

  /uapi/domestic-stock/v1/quotations/chk-holiday:
    get:
      operationId: checkDomesticHoliday

      summary: 국내 휴장일 확인

      description: |
        국내휴장일조회 API입니다.

        영업일, 거래일, 개장일, 결제일 여부를 조회할 수 있습니다.<br/>
        주문을 넣을 수 있는지 확인하고자 하실 경우 개장일여부(opnd_yn)을 사용하시면 됩니다.

      responses:
        200:
          description: 국내 휴장일 조회 성공

  /uapi/domestic-stock/v1/quotations/inquire-vi-status:
    get:
      operationId: checkViStatus

      summary: 국내주식 변동성완화장치(VI) 현황

      description: |
        HTS(eFriend Plus) [0139] 변동성 완화장치(VI) 현황 데이터를 확인할 수 있는 API입니다.

        최근 30건까지 확인 가능합니다.

      responses:
        200:
          description: 국내주식 변동성완화장치(VI) 현황 조회 성공

  /uapi/domestic-stock/v1/quotations/comp-interest:
    get:
      operationId: getDomesticInterest

      summary: 금리종합(국내채권/금리)

      description: |
        금리 종합(국내채권/금리) API입니다.

        한국투자 HTS(eFriend Plus) > [0702] 금리 종합 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        ※ 11:30 이후에 신규데이터가 수신되는 점 참고하시기 바랍니다.

      responses:
        200:
          description: 금리종합(국내채권/금리) 조회 성공

  /uapi/domestic-stock/v1/quotations/news-title:
    get:
      operationId: getNewsTitle

      summary: 종합 시황/공시(제목만)

      description: |
        종합 시황/공시(제목) API입니다.

        한국투자 HTS(eFriend Plus) > [0601] 종합 시황/공시 화면의 "우측 상단 리스트" 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

      responses:
        200:
          description: 종합 시황/공시(제목) 조회 성공

  /uapi/domestic-stock/v1/quotations/search-info:
    get:
      operationId: findSearchProductInfo

      summary: 상품기본조회

      description: 국내주식뿐 아니라 선물, 채권, 해외주식의 기본 정보를 조회하는 API 입니다.

      responses:
        200:
          description: 상품기본조회 조회 성공

  /uapi/domestic-stock/v1/quotations/search-stock-info:
    get:
      operationId: findSearchStockInfo

      summary: 국내주식 기본조회

      description: |
        주식기본조회 API입니다.

        국내주식 종목의 종목상세정보를 확인할 수 있습니다.

      responses:
        200:
          description: 국내주식 기본조회 조회 성공

  /uapi/domestic-stock/v1/quotations/credit-by-company:
    get:
      operationId: getFinancialCreditByCompany

      summary: 국내주식 당사 신용가능종목

      description: |
        국내주식 당사 신용가능종목 API입니다.

        한국투자 HTS(eFriend Plus) > [0477] 당사 신용가능 종목 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        최대 100건 확인 가능하며, 다음 조회가 불가합니다.

      responses:
        200:
          description: 국내주식 당사 신용가능종목 조회 성공

  /uapi/domestic-stock/v1/quotations/invest-opinion:
    get:
      operationId: getDomesticStockInvestOpinion

      summary: 국내주식 종목투자의견

      description: |
        국내주식 종목투자의견 API입니다.

        한국투자 HTS(eFriend Plus) > [0605] 종목투자의견 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        한 번의 호출에 100건까지 조회가 가능하기에, 일자 파라미터(FID_INPUT_DATE_1, FID_INPUT_DATE_2)를 조절하여 다음 데이터 조회하시기 바랍니다.

      responses:
        200:
          description: 국내주식 종목투자의견 조회 성공

  /uapi/domestic-stock/v1/quotations/invest-opbysec:
    get:
      operationId: getDomesticStockSecuritiesOpinion

      summary: 국내주식 증권사별 투자의견

      description: |
        국내주식 증권사별 투자의견 API입니다.

        한국투자 HTS(eFriend Plus) > [0608] 증권사별 투자의견 화면 의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

        한 번의 호출에 20건까지 조회가 가능하기에, 일자 파라미터(FID_INPUT_DATE_1, FID_INPUT_DATE_2)를 조절하여 다음 데이터 조회하시기 바랍니다.

      responses:
        200:
          description: 국내주식 증권사별 투자의견 조회 성공

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: authorization
