openapi: 3.0.3
info:
  title: OpenKIS
  description: 한국투자증권에서 제공하는 OpenAPI 정의
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: 강한구
    email: kgcrom@hotmail.com

servers:
  - url: "https://openapi.koreainvestment.com:9443"
    description: KIS Production server
  - url: "https://openapivts.koreainvestment.com:29443"
    description: KIS Sandbox server

tags:
  - name: Auth
    description: 인증
  - name: DomesticStockQuotations
    description: 국내주식 기본시세

security:
  - accessToken: []

paths:
  /oauth2/tokenP:
    post:
      $ref: resources/auth/auth_token.yml

  /oauth2/revokeP:
    post:
      $ref: resources/auth/auth_revoke.yml

  /uapi/domestic-stock/v1/quotations/inquire-price:
    get:
      operationId: getDomesticStockInquirePrice

      summary: 국내주식 현재가 기본시세 조회

      description: |
        주식 현재가 시세 API입니다. 실시간 시세를 원하신다면 웹소켓 API를 활용하세요.

        ※ 종목코드 마스터파일 파이썬 정제코드는 한국투자증권 Github 참고 부탁드립니다.<br/>
          https://github.com/koreainvestment/open-trading-api/tree/main/stocks_info

  /uapi/domestic-stock/v1/quotations/inquire-ccnl:
    get:
      operationId: getDomesticStockInquireConclusion

      summary: 국내주식 현재가 체결시세 조회

      description: 국내현재가 체결 API 입니다. 종목의 체결 정보를 확인할 수 있습니다.

  /uapi/domestic-stock/v1/quotations/inquire-daily-price:
    get:
      operationId: getDomesticStockInquireDailyPrice

      summary: 국내주식 일자별 시세 조회

      description: 주식현재가 일자별 API입니다. 일/주/월별 주가를 확인할 수 있으며 최근 30일(주,별)로 제한되어 있습니다.

  /uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn:
    get:
      operationId: getDomesticStockInquireAskingPrice

      summary: 국내주식 현재가 호가/예상체결 조회

      description: 주식현재가 호가 예상체결 API입니다. 매수 매도 호가를 확인하실 수 있습니다. 실시간 데이터를 원하신다면 웹소켓 API를 활용하세요.

  /uapi/domestic-stock/v1/quotations/inquire-investor:
    get:
      operationId: getDomesticStockInquireInvestor

      summary: 국내주식 현재가 투자자

      description: |
        주식현재가 투자자 API입니다. 개인, 외국인, 기관 등 투자 정보를 확인할 수 있습니다.

        [유의사항]<br/>
        - 외국인은 외국인(외국인투자등록 고유번호가 있는 경우)+기타 외국인을 지칭합니다.<br/>
        - 당일 데이터는 장 종료 후 제공됩니다.

  /uapi/domestic-stock/v1/quotations/inquire-member:
    get:
      operationId: getDomesticStockInquireMember

      summary: 국내주식 현재가 회원사

      description: 주식 현재가 회원사 API입니다. 회원사의 투자 정보를 확인할 수 있습니다.

  /uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice:
    get:
      operationId: getDomesticStockInquirePeriodPrice

      summary: 국내주식 기간별 시세(일/주/월/년)

      description: |
        국내주식기간별시세(일/주/월/년) API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

  /uapi/domestic-stock/v1/quotations/inquire-time-itemconclusion:
    get:
      operationId: getDomesticStockInquireTimeConclusion

      summary: 국내주식 현재가 당일시간대별 체결

      description: 주식현재가 당일시간대별체결 API입니다.

  /uapi/domestic-stock/v1/quotations/inquire-time-overtimeconclusion:
    get:
      operationId: getDomesticStockInquireOverTimeConclusion

      summary: 국내주식 현재가 시간외 시간대별 체결

      description: 주식현재가 시간외시간별체결 API입니다.

  /uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice:
    get:
      operationId: getDomesticStockInquireDailyOverTimePrice

      summary: 국내주식 현재가 시간외 일자별 주가

  /uapi/domestic-stock/v1/quotations/inquire-overtime-price:
    get:
      operationId: getDomesticStockInquireOverTimePrice

      summary: 국내주식 시간외 현재가 조회

      description: |
        국내주식 시간외현재가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 좌측 상단기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/domestic-stock/v1/quotations/inquire-overtime-asking-price:
    get:
      operationId: getDomesticStockInquireOverTimeAskingPrice

      summary: 국내주식 시간외 호가 조회

      description: |
        국내주식 시간외호가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0230] 시간외 현재가 화면의 '호가' 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/domestic-stock/v1/quotations/inquire-time-itemchartprice:
    get:
      operationId: getDomesticStockInquireMinutePrice

      summary: 국내주식 당일 분봉 조회

      description: |
        주식당일분봉조회 API입니다.<br/>
        실전계좌/모의계좌의 경우, 한 번의 호출에 최대 30건까지 확인 가능합니다.

  /uapi/domestic-stock/v1/quotations/inquire-price-2:
    get:
      operationId: getDomesticStockInquirePrice2

      summary: 주식현재가 시세2

      description: 주식현재가 시세2 API입니다.

  /uapi/domestic-stock/v1/quotations/exp-closing-price:
    get:
      operationId: getDomesticStockInquireClosingPrice

      summary: 국내주식 장마감 예상체결가 조회

      description: |
        국내주식 장마감 예상체결가 API입니다. 

        한국투자 HTS(eFriend Plus) > [0183] 장마감 예상체결가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/etfetn/v1/quotations/inquire-price:
    get:
      operationId: getEtfNEtnInquirePrice

      summary: ETF/ETN 현재가 기본시세 조회

      description: |
        ETF/ETN 현재가 API입니다.

        한국투자 HTS(eFriend Plus) > [0240] ETF/ETN 현재가 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/etfetn/v1/quotations/nav-comparison-trend:
    get:
      operationId: getEtfNEtnNavStockTrend

      summary: ETF/ETN NAV 비교 추이(종목)

      description: |
        NAV 비교추이(종목) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.

  /uapi/etfetn/v1/quotations/nav-comparison-time-trend:
    get:
      operationId: getEtfNEtnNavMinuteTrend

      summary: ETF/ETN NAV 비교 추이(분)

      description: |
        NAV 비교추이(분) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "분별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최근 30건까지 확인 가능합니다.

  /uapi/etfetn/v1/quotations/nav-comparison-daily-trend:
    get:
      operationId: getEtfNEtnNavDailyTrend

      summary: ETF/ETN NAV 비교 추이(일)

      description: |
        NAV 비교추이(일) API입니다.

        한국투자 HTS(eFriend Plus) > [0244] ETF/ETN 비교추이(NAV/IIV) 좌측 화면 "일별" 비교추이 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다.<br/>
        실전계좌의 경우, 한 번의 호출에 최대 100건까지 확인 가능합니다.

  /uapi/etfetn/v1/quotations/inquire-component-stock-price:
    get:
      operationId: getEtfNEtnInquireComponentStockPrice

      summary: ETF/ETN 구성종목 시세 조회

      description: |
        ETF 구성종목시세 API입니다. 

        한국투자 HTS(eFriend Plus) > [0245] ETF/ETN 구성종목시세 화면의 기능을 API로 개발한 사항으로, 해당 화면을 참고하시면 기능을 이해하기 쉽습니다

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: authorization
