openapi: 3.0.3
info:
  title: 국내 전자공시 시스템 DART(Data Analysis, Retrieval and Transfer System)
  description: 국내 상장기업의 전자공시 정보를 제공하는 API 서비스입니다.
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    name: 강한구
    email: kgcrom@hotmail.com
servers:
  - url: https://opendart.fss.or.kr
    description: DART server

tags:
  - name: CorporateDisclosure
    description: 공시정보
  - name: RegularDisclosureKey
    description: 정기보고서 주요정보
  - name: RegularDisclosureFinancialStatement
    description: 정기보고서 재무정보
  - name: ShareDisclosure
    description: 지분공시 종합정보
  - name: IrregularDisclosure
    description: 주요사항보고서 주요정보

paths:
  /api/list.json:
    get:
      $ref: resources/corporate/list.yml

  /api/company.json:
    get:
      $ref: resources/corporate/company.yml

  /api/document.xml:
    get:
      $ref: resources/corporate/document.yml

  /api/corpCode.xml:
    get:
      $ref: resources/corporate/corp_code.yml

  /api/cndlCaplScritsNrdmpBlce.json:
    get:
      $ref: resources/regular_disclosure_key/conditional_capital_not_reimbursed_balance.yml

  /api/cprndNrdmpBlce.json:
    get:
      $ref: resources/regular_disclosure_key/corporate_bond_not_reimbursed_balance.yml

  /api/srtpdPsndbtNrdmpBlce.json:
    get:
      $ref: resources/regular_disclosure_key/short_term_bond_not_reimbursed_balance.yml

  /api/entrprsBilScritsNrdmpBlce.json:
    get:
      $ref: resources/regular_disclosure_key/enterprises_bill_not_reimbursed_balance.yml

  /api/detScritsIsuAcmslt.json:
    get:
      $ref: resources/regular_disclosure_key/debt_securities_issue_accomplishment.yml

  /api/prvsrpCptalUseDtls.json:
    get:
      $ref: resources/regular_disclosure_key/private_equity_capital_use_details.yml

  /api/pssrpCptalUseDtls.json:
    get:
      $ref: resources/regular_disclosure_key/public_equity_capital_use_details.yml

  /api/drctrAdtAllMendngSttusGmtsckConfmAmount.json:
    get:
      $ref: resources/regular_disclosure_key/director_audit_all_mending_status_shareholders_general_meeting_confirm_amount.yml

  /api/drctrAdtAllMendngSttusMendngPymntamtTyCl.json:
    get:
      $ref: resources/regular_disclosure_key/director_audit_all_mending_status_mending_payment_amount_type_classification.yml

  /api/stockTotqySttus.json:
    get:
      $ref: resources/regular_disclosure_key/stock_total_quantity_status.yml

  /api/accnutAdtorNmNdAdtOpinion.json:
    get:
      $ref: resources/regular_disclosure_key/account_auditor_name_and_opinion.yml

  /api/adtServcCnclsSttus.json:
    get:
      $ref: resources/regular_disclosure_key/audit_service_conclusion_status.yml

  /api/accnutAdtorNonAdtServcCnclsSttus.json:
    get:
      $ref: resources/regular_disclosure_key/account_auditor_non_audit_service_conclusion_status.yml

  /api/outcmpnyDrctrNdChangeSttus.json:
    get:
      $ref: resources/regular_disclosure_key/outside_director_change_status.yml

  /api/newCaplScritsNrdmpBlce.json:
    get:
      $ref: resources/regular_disclosure_key/new_capital_securities_not_reimbursed_balance.yml

  /api/irdsSttus.json:
    get:
      $ref: resources/regular_disclosure_key/increase_decrease_status.yml

  /api/alotMatter.json:
    get:
      $ref: resources/regular_disclosure_key/allocation_matter.yml

  /api/tesstkAcqsDspsSttus.json:
    get:
      $ref: resources/regular_disclosure_key/treasury_shares_acquisition_disposal_status.yml

  /api/hyslrSttus.json:
    get:
      $ref: resources/regular_disclosure_key/largest_shareholder_status.yml

  /api/hyslrChgSttus.json:
    get:
      $ref: resources/regular_disclosure_key/largest_shareholder_change_status.yml

  /api/mrhlSttus.json:
    get:
      $ref: resources/regular_disclosure_key/minority_shareholders_status.yml

  /api/exctvSttus.json:
    get:
      $ref: resources/regular_disclosure_key/executive_status.yml

  /api/empSttus.json:
    get:
      $ref: resources/regular_disclosure_key/employee_status.yml

  /api/hmvAuditIndvdlBySttus.json:
    get:
      $ref: resources/regular_disclosure_key/director_auditor_individual_mending.yml

  /api/hmvAuditAllSttus.json:
    get:
      $ref: resources/regular_disclosure_key/director_audit_all_mending.yml

  /api/indvdlByPay.json:
    get:
      $ref: resources/regular_disclosure_key/individual_by_pay.yml

  /api/otrCprInvstmntSttus.json:
    get:
      $ref: resources/regular_disclosure_key/outer_corporate_investment_status.yml

  /api/fnlttSinglAcnt.json:
    get:
      $ref: resources/regular_disclosure_fs/single_financial_account.yml

  /api/fnlttMultiAcnt.json:
    get:
      $ref: resources/regular_disclosure_fs/multi_financial_account.yml

  /api/fnlttXbrl.xml:
    get:
      $ref: resources/regular_disclosure_fs/xbrl_financial_account.yml

  /api/fnlttSinglAcntAll.json:
    get:
      $ref: resources/regular_disclosure_fs/single_financial_account_all.yml

  /api/xbrlTaxonomy.json:
    get:
      $ref: resources/regular_disclosure_fs/xbrl_taxonomy.yml

  /api/fnlttSinglIndx.json:
    get:
      $ref: resources/regular_disclosure_fs/single_financial_index.yml

  /api/fnlttCmpnyIndx.json:
    get:
      $ref: resources/regular_disclosure_fs/multi_financial_index.yml

  /api/majorstock.json:
    get:
      $ref: resources/share_disclosure/largest_shareholder_stock.yml

  /api/elestock.json:
    get:
      $ref: resources/share_disclosure/executive_major_stock.yml

  /api/dfOcr.json:
    get:
      $ref: resources/irregular_disclosure/bankruptcy.yml

  /api/bsnSp.json:
    get:
      $ref: resources/irregular_disclosure/business_suspension.yml

  /api/ctrcvsBgrq.json:
    get:
      $ref: resources/irregular_disclosure/rehabilitation_procedure.yml

  /api/dsRsOcr.json:
    get:
      $ref: resources/irregular_disclosure/disperse_reason.yml

  /api/piicDecsn.json:
    get:
      $ref: resources/irregular_disclosure/paid_in_capital_increase.yml

  /api/fricDecsn.json:
    get:
      $ref: resources/irregular_disclosure/free_in_capital_increase.yml

  /api/pifricDecsn.json:
    get:
      $ref: resources/irregular_disclosure/capital_increase.yml

  /api/crDecsn.json:
    get:
      $ref: resources/irregular_disclosure/capital_reduction.yml

  /api/bnkMngtPcbg.json:
    get:
      $ref: resources/irregular_disclosure/creditor_bank_management_procedure_start.yml

  /api/lwstLg.json:
    get:
      $ref: resources/irregular_disclosure/lawsuit.yml

  /api/ovLstDecsn.json:
    get:
      $ref: resources/irregular_disclosure/overseas_listing_decision.yml

  /api/ovDlstDecsn.json:
    get:
      $ref: resources/irregular_disclosure/overseas_delisting_decision.yml

  /api/ovLst.json:
    get:
      $ref: resources/irregular_disclosure/overseas_listing.yml

  /api/ovDlst.json:
    get:
      $ref: resources/irregular_disclosure/overseas_delisting.yml

  /api/cvbdIsDecsn.json:
    get:
      $ref: resources/irregular_disclosure/convertible_bond_issue_decision.yml

  /api/bdwtIsDecsn.json:
    get:
      $ref: resources/irregular_disclosure/bond_with_warrant_issue_decision.yml

  /api/exbdIsDecsn.json:
    get:
      $ref: resources/irregular_disclosure/exchangeable_bond_issue_decision.yml

  /api/bnkMngtPcsp.json:
    get:
      $ref: resources/irregular_disclosure/creditor_bank_management_procedure_stop.yml

  /api/wdCocobdIsDecsn.json:
    get:
      $ref: resources/irregular_disclosure/withdrawal_convertible_bond_issue_decision.yml

  /api/astInhtrfEtcPtbkOpt.json:
    get:
      $ref: resources/irregular_disclosure/asset_inheritance_etc_public_book_option.yml

  /api/otcprStkInvscrTrfDecsn.json:
    get:
      $ref: resources/irregular_disclosure/outer_corporate_stock_investment_share_transfer_decision.yml

  /api/tgastTrfDecsn.json:
    get:
      $ref: resources/irregular_disclosure/tangible_asset_transfer_decision.yml

  /api/tgastInhDecsn.json:
    get:
      $ref: resources/irregular_disclosure/tangible_asset_inheritance_decision.yml

  /api/otcprStkInvscrInhDecsn.json:
    get:
      $ref: resources/irregular_disclosure/outer_corporate_stock_investment_share_inheritance_decision.yml

  /api/bsnTrfDecsn.json:
    get:
      $ref: resources/irregular_disclosure/business_transfer_decision.yml

  /api/bsnInhDecsn.json:
    get:
      $ref: resources/irregular_disclosure/business_inheritance_decision.yml

  /api/tsstkAqTrctrCcDecsn.json:
    get:
      $ref: resources/irregular_disclosure/treasury_stock_acquisition_transfer_cancel_decision.yml

  /api/tsstkAqTrctrCnsDecsn.json:
    get:
      $ref: resources/irregular_disclosure/treasury_stock_acquisition_transfer_conclude_decision.yml

  /api/tsstkDpDecsn.json:
    get:
      $ref: resources/irregular_disclosure/treasury_stock_disposal_decision.yml

  /api/tsstkAqDecsn.json:
    get:
      $ref: resources/irregular_disclosure/treasury_stock_acquisition_decision.yml

  /api/stkExtrDecsn.json:
    get:
      $ref: resources/irregular_disclosure/stock_exchange_decision.yml

  /api/cmpDvmgDecsn.json:
    get:
      $ref: resources/irregular_disclosure/company_divide_merge_decision.yml

  /api/cmpDvDecsn.json:
    get:
      $ref: resources/irregular_disclosure/company_divide_decision.yml

  /api/cmpMgDecsn.json:
    get:
      $ref: resources/irregular_disclosure/company_merge_decision.yml

  /api/stkrtbdInhDecsn.json:
    get:
      $ref: resources/irregular_disclosure/stock_right_bond_inheritance_decision.yml

  /api/stkrtbdTrfDecsn.json:
    get:
      $ref: resources/irregular_disclosure/stock_right_bond_transfer_decision.yml

components:
  securitySchemes:
    authKey:
      type: apiKey
      in: header
      name: crtfc_key
      description: |
        DART OpenAPI 인증키

        redoc lint, autorest에서 인증은 필수여서 추가함
